# scala
project/project/
project/target/
*.class

## target
.history
resolution-cache/ 
streams/
test-reports/

## target/scala-2.11
classes/
resource_managed/
src_managed/
test-classes/

# intelij
.idea/*

*.iml
*.ipr
*.iws
.idea
out

# vim
.*.swp
.*.swo
*~

# mac
.DS_Store
